.btn-h1-spacing{
  margin-top:20px;
}
.form-spacing-top{
  margin-top: 20px;
}

body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
.comment{
	margin-bottom:45px;
}
.author-image{
	width: 50px;
	height: 50px;	
	float:left;
	-webkit-border-radius: 50%;
}
.author-name{
	float:left;
	margin-left:15px;
}
.author-name>h4{
	margin: 5px 0;
	
}

.author-time{
	font-size: 11px;
	font-style: italic;
	color: #aaaaaa;

}
.comment-content{
	clear:both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}
.comments-title{
	margin-bottom: 45px;
}
.comments-title>span{
	margin-right: 15px;
}

